@import-normalize; /* bring in normalize.css styles */

body {
  background: linear-gradient(90deg, rgba(180, 180, 180, 0.3) 40%, rgba(228, 84, 84, 0.12) 49%, rgba(180, 180, 180, 0.3) 60%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Cantarell', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Cantarell;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}